@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
ul,li,h1,h2,h3,h4,h5,h6,dl,dt,dd{padding:0; margin:0}
ul{list-style:none;}
img{border:none;}
body{font-size:12px; font-family:"\5B8B\4F53"; color:#333;/* background:#fff;*/}
a{color:#333; text-decoration:none; cursor:pointer;}
a:hover{text-decoration:none;}
.clear:after{content:""; clear:both; height:0; display:block; visibility:hidden; font-size:0;}
.clear{height:1%;}
.fleft{float:left;}
.fright{float:right;}
.w1200{width:1000px; margin:0 auto;}
.mt10{margin-top:10px;}
.blue{color:#0059a5;}
.color_red{color:#F00;}
.jianju10{padding-left:10px;}
.jianju20{padding-left:20px;}
.mt7{margin-top:7px;}
.operation-btn{display:inline-block; margin:3px; height:26px; line-height:26px; /*border:1px solid #6497C2; border-radius:2px;background:#EDF8FE;*/ padding:0 6px; color:#6497C2; cursor:pointer;}
.operation-btn:hover{text-decoration:underline;}

/*header*/
.header{position:relative; height:66px; width:100%; min-width:1200px; background:#066dc5;}
.head_logo{position:absolute; top:8px; left:10px;}
.head_logo img{ width:344px; height49px; }
.header_right{float:right; margin-top:25px;/* width:165px;*/ padding-right:10px;}
.header_right ul li{float:left; display:inline; height:40px; overflow:hidden;}
.header_right ul li #home{background:url(../images/icon_head.png) no-repeat 0px 0px; width:19px; height:40px; background-attachment:scroll; background-color:transparent; display:inline-block;}
.header_right ul li #theme{background:url(../images/icon_head.png) no-repeat -35px 0px; width:24px; height:40px; background-attachment:scroll; background-color:transparent; display:inline-block; margin-left:6px;}
.header_right ul li #Setup{background:url(../images/icon_head.png) no-repeat -74px 0px; width:19px; height:40px; background-attachment:scroll; background-color:transparent; display:inline-block; margin-left:6px;}
.header_right ul li #refresh{background:url(../images/icon_head.png) no-repeat -111px 0px; width:29px; height:40px; background-attachment:scroll; background-color:transparent; display:inline-block; margin-left:7px;}
.header_right ul li #logout{background:url(../images/icon_head.png) no-repeat -148px 0px; width:17px; height:40px; background-attachment:scroll; background-color:transparent; display:inline-block;}

/*nav*/
.nav{ width:100%; min-width:1200; height:31px; background:#0059a5;}
.nav_wrap{padding-left:40px;}
.nav_wrap dt{float:left; display:inline; padding-left:8px; margin-top:5px; height:26px; line-height:26px; font-family:"\5FAE\8F6F\96C5\9ED1"; font-size:15px; font-weight:bold; overflow:hidden; margin-left:10px; position:relative}
.tab_bg{background:#027be4; padding:0px 8px; display:block; float:left;}
.tab_bg a{color:#fff;}
.nav_wrap dl a{display:block; padding:0px 15px;}
.tab_bg2{background:#badefc; padding-right:15px;}

.search{background:url(../images/search_bg.png) no-repeat; width:184px; height:19px; margin-top:6px; margin-right:30px;}
.box{width:150px; height:14px; line-height:14px; font-size:12px; margin-left:5px; margin-top:2px; border:1px solid #fff; float:left;}
.search_btn{background:url(../images/search_btn.png) no-repeat; width:10px; height:13px; border:none; margin-top:3px; margin-left:5px; float:left; cursor:pointer;}

/*footer*/
#footer{position:relative; height:45px; background:#0059a5; width:100%; min-width:1200;}
.menu .people{height:50px; font-size:14px; margin-left:10px;}
.menu .people span{width:38px; height:38px; background:url(../images/people_bg.jpg) no-repeat; float:left; display:block; margin-right:5px;}
.menu .people span img{margin:4px 4px 5px 5px;}
.menu .people strong{line-height:50px; float:left;}
.category{margin-top:5px; width:155px; overflow-x:hidden; overflow-y:scroll; height:330px;}
.category li{width:151px; display:block; float:left; margin-left:4px;}
.category li:hover{background:url(../images/category_tab.jpg) no-repeat;}
.icon_a{background:url(../images/icon_a.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_b{background:url(../images/icon_b.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_c{background:url(../images/icon_c.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_d{background:url(../images/icon_d.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_e{background:url(../images/icon_e.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_f{background:url(../images/icon_f.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_g{background:url(../images/icon_g.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_h{background:url(../images/icon_h.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_i{background:url(../images/icon_i.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_j{background:url(../images/icon_j.png) no-repeat 5px 8px; display:block; padding-left:25px;}
.icon_k{background:url(../images/icon_k.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_l{background:url(../images/icon_l.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_m{background:url(../images/icon_m.png) no-repeat 5px 10px; display:block; padding-left:25px;}

.category_sidebar{background:url(../images/menu_bg.jpg) repeat-y; width:164px; float:right; height:538px;}
.sidebar_list{margin-top:50px; _margin-top:45px; height:440px; margin-left:5px; margin-bottom:5px;}
.sidebar_list li{line-height:21px; height:21px; margin-top:10px;
 _margin-top:8px;}
.sidebar_list li:hover{background:url(../images/sidebar_tab.png) no-repeat;}
.sidebar_list a{background:url(../images/icon_sanjiao.png) no-repeat 10px center; display:block; padding-left:18px;}


.footer_quickmenu{width:340px; height:32px; background:#004784; border:1px solid #0066bd; margin-top:5px; float:left; margin-left:450px; overflow:hidden; display:inline;}
.footer_quickmenu a{margin-left:35px; float:left; display:inline; margin-top:3px;}
.footer_right{float:right;/* width:220px;*/ padding-right:10px;}
.number{color:#fff; font-size:14px; line-height:45px; float:left;}
.number strong{margin:0px 5px;}
.footer_right a{ display:inline; float:left;}
.tixing{margin-top:13px; margin-left:10px;}
.xiaoxi{margin-top:14px; margin-left:15px;}
.liaotian{margin-top:9px; margin-left:15px;}

/*内页*/
.line_g{line-height:36px;}
.hover_bg:hover{background:#f8f8f8; cursor:pointer;}
.tab_bg2 a{position:relative;}
.tab_bg2 span{position:absolute; top:9px; right:10px; cursor:pointer;}
.subnav{background:#badefc; height:66px; width:100%; min-width:1200; padding:10px 0px;}
.people{height:56px; width:150px; float:left; font-size:13px; line-height:30px; margin-top:5px; margin-left:30px;}
.people img{float:left; margin-right:10px;}
.subnav ul li{float:left; display:inline; text-align:center; margin-right:10px;}
.subnav ul li span{width:67px; height:32px; text-align:center;vertical-align:middle;display: table-cell;vertical-align:middle;}
.subnav span img, .subnav a img{max-width:67px;width:expression_r(this.width>67?"67px":this.width);vertical-align:middle;max-height:32px;height:expression_r(this.height>32?"32px":this.height);}
.subnav ul li a{width:67px; height:58px; padding-top:8px; float:left;}
.subnav ul li a:hover,.subtab{background:url(../images/subnav_bg.png) no-repeat;}
.subnav ul li p{line-height:30px;}

.btnbox{padding:10px 0;}
.btnbox li{float:left; padding:0 10px;}
.btnbox label{}
.btn_text{width:160px; height:24px; line-height:24px; padding:0 5px; border:1px solid #ccc;}
.btnbox .btn{margin:0 !important;}
.sea_text{height:24px; line-height:24px; padding:0 5px; width:120px; border:1px solid #ccc;}
.sea_btn{height:26px; width:26px; margin-left:5px; cursor:pointer; background:url(../images/ico_search.png) center center no-repeat; background-size:24px auto; border-right:1px solid #bbb; border-bottom:1px solid #bbb; border-top:none; border-left:none;}
.select_long{width:300px !important;}

.center_table,.left_table{width:100%; border:none; border-collapse:collapse; line-height:26px; }
.center_table{text-align:center;}
.left_table{text-align:left;}
.center_table thead,.center_table tfoot,.left_table thead,.left_table tfoot{background:#efefef; padding:0 10px; /*height:40px;*/}
.center_table th,.center_table td{border-right:1px solid #c8c8c8; border-bottom:1px solid #c8c8c8; padding:5px 3px;}
.left_table th,.left_table td{border-right:1px solid #c8c8c8; border-bottom:1px solid #c8c8c8; padding:5px 10px;}
.table_area{margin:10px 0;}





.menu-wrap{position:absolute; left:7px; bottom:3px; z-index:99999;}
.menubox{display:none; position:absolute; bottom:33px; left:0; font-family: verdana, arial, sans-serif; background:url(../images/menu_bg.jpg) repeat; width:321px; padding:20px 0 50px;}
.menu-wrap:hover .menubox{display:block;}
.menu-user{position:relative; padding:0 0 5px 58px; height:50px; line-height:50px;}
.menu-user .img{position:absolute; top:0; left:10px; width:38px; height:38px; margin-right:5px; border-radius:4px; overflow:hidden;}
.menu-user .img img{width:38px; height:38px;}
.menu-user strong{color:#0059a5; font-size:14px;}
.logout{background:url(../images/logout.png) no-repeat 10px 6px; padding-left:26px;}
.quit{background:url(../images/quit.png) no-repeat 10px 7px; padding-left:30px; }
.out_quit{height:34px; line-height:34px; position:absolute; right:0; bottom:0; width:164px;}
.out_quit a{float:left; font-size:13px; font-weight:bold; color:#0059a5;height:34px; line-height:34px; margin-left:10px;}
.menu{}
.menu-icon{display:block;}
.menu dl{position:relative; line-height:30px; padding:0 4px 0 4px;}
.menu dt{width:151px;}
.menu dl:hover dt{background:url(../images/category_tab.jpg) no-repeat;}
.menu dt a{display:block; height:30px; line-height:30px; text-decoration:none; text-align:left;}

.menu dd{position:absolute; bottom:0; left:150px; padding:0 7px 0 11px; display: none; }
.menu dl:hover dd{display:block;}

.submenu{}
.submenu li{width:151px; height:21px; line-height:21px; margin-bottom:5px;}
.submenu li:hover{ background:url(../images/sidebar_tab.png) no-repeat;}
.submenu li a{display:block; background:url(../images/icon_sanjiao.png) no-repeat 10px center; padding-left:18px;}

.nav_tab{width:100%; border-collapse:collapse; margin-bottom:10px;  border-right:1px solid #c8c8c8;}
.nav_tab thead th{border-bottom:1px solid #c8c8c8; text-align:left; color:#6497c2; line-height:26px; padding:5px 3px;}
.nav_tab tbody{}
.nav_tab tbody th{line-height:26px; padding:5px; text-align:right; border-bottom:1px solid #c8c8c8; border-right:1px solid #c8c8c8; width:100px; font-weight:400; background:#f9f9f9;}
.nav_tab tbody td{line-height:26px; padding:5px;}
.nav_tab tbody tr,.nav_tab tfoot tr{border-bottom:1px solid #c8c8c8;}
.nav_tab tfoot th,.nav_tab tfoot td{border-bottom:1px solid #c8c8c8; border-right:1px solid #c8c8c8; padding:5px;}
.nav_tab tfoot th{ text-align:right; font-weight:400; background:#f9f9f9;}
.nt-text{width:120px; height:20px; line-height:20px; text-indent:5px; border:1px solid #707070;}
.nt-select{width:120px; height:22px; line-height:20px; border:1px solid #c8c8c8;}
.nt-text-long{width:500px; height:20px; line-height:20px; text-indent:5px; border:1px solid #707070;}
.nt_btn{display:inline-block; width:45px; height:26px; background:url(../images/zsgc_bg.png) no-repeat; border:none; cursor:pointer;}
.nt-area{width:80%; padding:0 5px; line-height:20px; height:60px; resize:none; border:1px solid #707070;}
.nt-btmbox{text-align:center; padding:25px 0 10px;}
.nt-btmbox .btn{float:none;}
.check_box{float:left; padding:8px 0 0 5px; line-height:20px;}
.check_box label{cursor:pointer;}
.check_box *{vertical-align:middle;}
.check_btn{background:none; border:none; cursor:pointer; margin-left:7px; font-size:12px; padding-top:2px;}

.color_gray{color:#gray !important;}
.color_red{color:red !important;}
.color_green{color:green !important;}
.width900{width:900px; margin:0 auto;}
.infolist table,.infolist table tr td,.left_table th,.nav_tab tbody th,.center_table th, .center_table td,.left_table td,.ke-container,.infolist table tr td{border:1px solid #E4E5E6 !important;}
.text,.mh_date,.nt-text,.nt-text-long,.nt-area,.select,.sea_text{border:1px solid #adc7de !important; background-image:url(../images/inputbg.gif); background-repeat:repeat-x;}
.text:hover,.mh_date:hover,.nt-text:hover,.nt-text-long:hover,.nt-area:hover,.select:hover,.sea_text:hover{background-image:none;}
.page1 .content{height:auto !important;}
.nav_tab tbody th{background:#f6f6f6 !important;}
.title{background:#F6F6F6 !important;}
.list_date span{margin-left:10px;}
.list_date em{ font-style:inherit;}

.zsgc_new li{float:left; padding:0 10px; height:26px; line-height:26px; cursor:pointer; border:1px solid #6899C1; border-radius:2px; background:#EEF7FF; margin-right:10px; _display:inline;}
.c-4a7da8{color:#4a7da8;}


.bxd_table{font-size:14px; width:95%; border-collapse:collapse; text-align:center; line-height:26px; margin:20px auto;}
.bxd_table td,.bxd_table th{padding:5px 0;}
.bxd_table thead{}
.bxd_table thead th{font-size:16px; font-weight:bold}
.bxd_table thead td{text-align:left;}
.bxd_table tbody{border:1px solid #000;}
.bxd_table tbody td{border-right:1px solid #000; border-bottom:1px solid #000;}
.zcd_table{width:95%; border-collapse:collapse; text-align:center; line-height:26px; margin:20px auto;}
.zcd_table td,.bxd_table th{padding:3px 5px;}
.zcd_table thead th{ text-align:center;}
.zcd_table tbody th{text-align:right; font-weight:400; border-bottom:1px solid #c8c8c8; background:#F6F6F6;}
.zcd_table tbody td{text-align:left;}
.zcd_table tfoot td{text-align:center; color:#4a7da8; border-bottom:none !important}
.tb-tube{ text-align:center; border:1px solid #bdbcbd;}
.text-long{width:95%; border:1px solid #adc7de; background-image:url(../images/inputbg.gif); background-repeat:repeat-x; height:24px; line-height:24px;}
.text-long:hover{background-image:none;}
.icon_01{background:url(../images/icon_menu.png) no-repeat 5px 0; display:block; padding-left:25px;}
.icon_02{background:url(../images/icon_menu.png) no-repeat 5px -30px; display:block; padding-left:25px;}
.icon_03{background:url(../images/icon_menu.png) no-repeat 5px -60px; display:block; padding-left:25px;}
.icon_04{background:url(../images/icon_menu.png) no-repeat 5px -90px; display:block; padding-left:25px;}
.icon_05{background:url(../images/icon_menu.png) no-repeat 5px -120px; display:block; padding-left:25px;}
.icon_06{background:url(../images/icon_menu.png) no-repeat 5px -150px; display:block; padding-left:25px;}
.icon_07{background:url(../images/icon_menu.png) no-repeat 5px -180px; display:block; padding-left:25px;}
.icon_08{background:url(../images/icon_menu.png) no-repeat 5px -210px; display:block; padding-left:25px;}
.icon_09{background:url(../images/icon_menu.png) no-repeat 5px -240px; display:block; padding-left:25px;}
.icon_10{background:url(../images/icon_menu.png) no-repeat 5px -270px; display:block; padding-left:25px;}
.icon_11{background:url(../images/icon_menu.png) no-repeat 5px -300px; display:block; padding-left:25px;}
